@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="p-4">This is a Test Generator Created in a HomeWork Project for College</p>
    <a class="btn btn-info btn-lg" asp-area="" asp-controller="Tests" asp-action="Create">Create a test</a>
</div>
