@model GeradorDeProvas.Models.ViewModel.QuestionVM

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>Question</h4>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject">Subject</label>
                <select id="subject" name="subject" class="form-control" asp-for="Subject"
                        asp-items="@ViewBag.Subjects"></select>
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label">Question</label>
                <textarea asp-for="Question" class="form-control" placeholder="Question" rows="5"></textarea>
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Alternative A</label>
                <textarea asp-for="AlternativeA" class="form-control" type="text" placeholder="Alternative A" rows="5"></textarea>
                <span asp-validation-for="AlternativeA" class="text-danger"></span>
                <input asp-for="CorrectAnswer" class="form-control" type="radio" id="CorrectAnswer" name="CorrectAnswer" value="1">
            </div>
            <div>
                <label class="control-label">Alternative B</label>
                <textarea asp-for="AlternativeB" class="form-control" type="text" placeholder="Alternative B" rows="5"></textarea>
                <span asp-validation-for="AlternativeB" class="text-danger"></span>
                <input asp-for="CorrectAnswer" class="form-control" type="radio" id="CorrectAnswer" name="CorrectAnswer" value="2">
            </div>
            <div>
                <label class="control-label">Alternative C</label>
                <textarea asp-for="AlternativeC" class="form-control" type="text" placeholder="Alternative C" rows="5"></textarea>
                <span asp-validation-for="AlternativeC" class="text-danger"></span>
                <input asp-for="CorrectAnswer" class="form-control" type="radio" id="CorrectAnswer" name="CorrectAnswer" value="3">
            </div>
            <div>
                <label class="control-label">Alternative D</label>
                <textarea asp-for="AlternativeD" class="form-control" type="text" placeholder="Alternative D" rows="5"></textarea>
                <span asp-validation-for="AlternativeD" class="text-danger"></span>
                <input asp-for="CorrectAnswer" class="form-control" type="radio" id="CorrectAnswer" name="CorrectAnswer" value="4">
            </div>
            <div>
                <label class="control-label">Alternative E</label>
                <textarea asp-for="AlternativeE" class="form-control" type="text" placeholder="Alternative E" rows="5"></textarea>
                <span asp-validation-for="AlternativeE" class="text-danger"></span>
                <input asp-for="CorrectAnswer" class="form-control" type="radio" id="CorrectAnswer" name="CorrectAnswer" value="5">
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script src="~/js/Functions.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
